<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   

   
</head>


<body class="">

    <nav class="H-nav">
        <ul>
            <li class="header"><h2>Freelancer Site</h2></li>
            <li class="logout"><button><i class="glyphicon glyphicon-log-out"></i>  Log out</button></li>

        </ul>
    </nav>
       
   


    <div class="row myrow">



        <aside class="col-md-4">


            <nav class="">
                <ul class="">

                    <li class="">
                        @Html.ActionLink("Profile", "profile_info", "Client")
                    </li>

                    <li class="">

                        @Html.ActionLink("New post", "InsertJobPost", "JobPost")

                    </li>

                    <li class="">

                        @Html.ActionLink("My posts", "Index", "Posts")
                    </li>

                    <li class="">
                        <a class="" href="#">Received proposals</a>
                    </li>
                </ul>
            </nav>
        </aside>

        <div class="col-md-8 pgcontent">
            @RenderBody()
        </div>

    </div>

    <div>


    </div>



    <footer >
        <p>&copy; @DateTime.Now.Year - Freelancing System</p>
        <p>This is the best Freelancing website Start earning now! </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   

</body>
</html>


