<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Freelancing</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--Search bar menu design icon is not working-->
    <link href="~/Content/myDesign/SearchBarMenu.css" rel="stylesheet" />

</head>
<body>

    <style>
        .customLI{
            left:990px;

        }
        #positon{
            left: 985px;
        }

    </style>
    <!--old menu-->
    <!-- old menu
    <div class="topnav">
        <a class="active" href="/JobPost/GetJobPosts">Home</a>
        <a href="/Client/InsertClient">Client Register</a>
        <a href="/Client/InsertClient">Freelancer Register</a>
        <a href="/Client/InsertClient">Client Register</a>
        <a href="/Client/InsertClient">Freelancer Register</a>
        <a href="#login">Login</a>
        <a href="#saved">Saved </a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
        -->
    <!--new menu-->
    <div id="container">
        <ul id="menu">
            <li>
                <a class="active" href="/Home/Index">Home</a>

                <!--sublists-->

            </li>
            <li>
                <a href="#">Register</a>
                <ul>
                    <li><a href="/Client/InsertClient">Client</a></li>
                    <li><a href="/Freelancer/InsertFreelancer">Freelancer</a></li>
                    <li><a href="/Admin/RegisterAdmin">Admin</a></li>

                </ul>
            </li>
            <li>
                <a href="#">Login</a>
                <ul>
                    <li><a href="/Freelancer/Login">Freelancer</a></li>
                    <li><a href="/Client/Login">Client</a></li>
                    <li><a href="/Admin/Login">Admin</a></li>
                </ul>
            </li>
            <!-- other menus
    <li>
        <a href="#">Contact Me</a>
        <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Maecenas dignissim fermentum luctus</a></li>
            <li><a href="#">Suspendisse fringilla</a></li>
        </ul>
    </li>
    <li><a href="#">Support</a></li>
        -->
            <li class="customLI" id="positon"><input type="text" placeholder="Search.." class="form-control" name="txt" id="txt"></li>
            <li class="customLI" ><button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i>search</button></li>

           
        </ul>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Freelancing System</p>
            <p>This is the best Freelancing website Start earning now! </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
