@model IEnumerable<FreelancingSystem.Models.JobPost>
@using FreelancingSystem.Models
@{
    ViewBag.Title = "DisplayMyPosts";
}
<link href="~/Content/myDesign/TableStyle.css" rel="stylesheet" />
<h2>My Posts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Discreption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfProposals)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        <th>
            Assigned Freelancer
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Discreption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @item.CreationDate.ToString("MM/dd/yyyy h:mm tt")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfProposals)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            @{
                //check if assigned job get the freelancer name
                string freelancerName = "Not assigned yet";
                if (item.FreelancerId != 0)
                {
                    Freelancer fl = null;
                    FreelancingDBContext db = new FreelancingDBContext();
                    fl = (from f in db.Freelancers
                          where f.FreelancerID == item.FreelancerId
                          select f).FirstOrDefault();
                    freelancerName = fl.FirstName;

                }

            }
            <td>
                @freelancerName
            </td>
            
        </tr>
    }

</table>
