@model FreelancingSystem.Models.JobPost
@{
    Layout = "~/Views/Shared/_FreelancerLayout.cshtml";
}
@*if freelancer is not logined dont show the details*@

@{
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Home/ErrorLoginFirst");
    }

}
<link href="~/Content/myDesign/FLPostOptionsStyle.css" rel="stylesheet" />


<div>
    <h1>@Model.Name</h1>
    <h2>@Model.Discreption</h2>
    <h3>Budget = @Model.Budget.ToString("C")    (@Model.Type)</h3>

    <h4>@Model.CreationDate.ToString("dddd, dd MMMM yyyy")</h4>
</div>
<div class="btn-group">

    <a class="button" href="/Freelancer/SavePost/@Model.JobPostID">Save</a>
    <a class="button" href="/Freelancer/ApplyPost/@Model.JobPostID">Apply</a>
    <a class="button" href="#">Rate</a>

</div>
